<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">WhatsApp Messages</h1>
    <p class="secret-text">Don't keep your messages, share them anonymously!</p>
    <div>
    </div>
    <form action="/chat" method="POST">
        <input type="hidden" name="username" value="<%=username%>">
        <p><%=username%></p>

      <div class="form-group">
        <input type="text" class="form-control text-center" name="message" placeholder="Dígite aqui a mensagem?">
      </div>
      <input type="submit" class="btn btn-dark"/>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
