<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"style="color:#0087ff"></i>
    <h1 class="display-3">2FA Authenticator!</h1>
    <p>Valide seu QR-Code pelo App do Google Authenticator</p>
    <img src="<%= data_url %>" alt="QR Code">

    <hr>
    <h1>Verificação de 2FA</h1>
    <p>Insira o código gerado pelo Google Authenticator:</p>
    <form method="POST" action="/qrcode">
        <label for="token">Código:</label>
        <input type="text" id="token" name="token" required>
        <br>
        <input class="btn btn-light btn-lg" type="submit" value="Verificar">
    </form>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
